* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.jumbotron {
  padding-top: 6rem;
  margin-bottom: -15px;
}

.jumbotron h1 {
  font-family: FrizQuuBol;
}

#about {
  margin-bottom: -15px;
}

#projects {
  background-color: #e2edff;
  margin-bottom: -15px;
}

.card:hover {
  box-shadow: 0 0 17px #eee;
  transition-delay: 0.1s;
}

.card-body {
  background-color: #aeb0b6;
}
.card-text {
  color: #fff;
}
#contact{
  margin-bottom: -3px;
}

a {
  text-decoration: none;
}
.form-svg {
  width: 100%;
}

#instagram,
#github {
  cursor: pointer;
}
